body{
    background: #ffc600;
      font-family: 'helvetica neue';
      margin: 0;
      font-size: 20px;
      font-weight: 200;
}

.panel-container{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.panel{
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    flex: 1;
    background-size:cover;
    background-position: center;
}
